<div class="navbar bg-base-100 shadow-sm h-25 absolute">
    <div class="flex-1">
        <img src="/images/cargills-logo.png" alt="Logo" class="btn btn-ghost text-xl"/>
    </div>
    <div class="flex-none">
      <ul class="menu menu-horizontal px-1">
        <li><a>About Us</a></li>
        <li><a>Contact</a></li>
      </ul>
    </div>
  </div>